{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Diit library</title>
    <link rel="stylesheet" href="{% static 'base/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'base/css/Responsive-Sticky-Navigation-1.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/Responsive-Sticky-Navigation.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
</head>

<body>
    <div class="imageHold">
	<img src="{% static 'base/img/diit_logo.png' %}" />
</div>
<nav id="navigation">
    <div class="container text-center">
        <ul class="navHold">
            <li><a href="{% url 'home' %}">Home</a></li> 
            {% if user.is_authenticated %}
            {% for group in request.user.groups.all %}
            {% if group.name == 'Stuff' %}
            <li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Option
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'book_checkout' %}">Checkout_Book</a>
                        <a class="dropdown-item" href="{% url 'add_book_detail' %}">Add_Book</a>
                        <a class="dropdown-item" href="{% url 'add_item' %}">Add_Book_Item</a>
                        <a class="dropdown-item" href="{% url 'book_return' %}">Return Book</a>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
            <!--<li><a href="#">My books</a></li>-->

            <li><a href="{% url 'my_reserved_book' %}">m_R_book</a></li>
            <li><a href="{% url 'my_books' %}">My book</a></li>
            <li><a href="#">Hi {{ user.username }}!</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                <li><a href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
    
        </ul>
    </div>
    <div class="logosmall hidels">
        <img src="{% static 'base/img/diit_logo.png' %}" height="24px" />
    </div>
     <!--search form start --> 
    <form class="form-inline mt-2 mt-md-0" style="text-align: center; justify-content: center; padding: 10px;" action="{% url 'search_results' %}" method="get">
        <div class="navResponsive"></div>
        <input name="q" class="form-control" type="text" placeholder="Search"aria-label="Search">
        <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Search</button>
    </form>
     <!--search form end --> 
</nav>

<div class="container" style="padding-bottom: 20px;">
    {% block content %}

    {% endblock content %}
</div>
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/Responsive-Sticky-Navigation.js' %}"></script>
</body>

</html>