{% extends '__base.html' %}
{% load static %}
{% block content %}

<style>
  .custom_container
  {
    margin-top: 130px;
  }
  @media only screen and (min-width: 1100px) {
  
  .custom_container {
    margin-left: 300px;
    margin-right: auto;
    margin-bottom: 10px;
  }
}


</style>


<div class="custom_container">
    <div class="col-md-6">
    <form>
        <h1 class="h1" style="font-size: 50px;"><i class="" style="color: #00baff;"></i>Add Book Item</h1>

        <div class="dropdown">

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px;">
            Select Book
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Acon</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <input type="text" class="border rounded-0 form-control" style="width: 500px;margin-bottom: 15px;" placeholder="Location" />
         <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <p><strong>Purchse Date</strong><span class="text-danger">*</span></p><input class="form-control" type="date" style="width: 500px;margin-bottom: 5px;" required name />
                    </div>
                </div>
        </div>
        <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <p><strong>Pulication Date</strong><span class="text-danger">*</span></p><input class="form-control" type="date" style="width: 500px;margin-bottom: 5px;" required name />
                    </div>
                </div>
        </div>
        <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <p><strong>Borrowed Date</strong><span class="text-danger">*</span></p><input class="form-control" type="date" style="width: 500px;margin-bottom: 5px;" required name />
                    </div>
                </div>
        </div>
         <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <p><strong>Due Date</strong><span class="text-danger">*</span></p><input class="form-control" type="date" style="width: 500px;margin-bottom: 5px;" required name />
                    </div>
                </div>
        </div>
         <div class="dropdown">

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 10px;">
            Status
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <input type="text" class="border rounded-0 form-control" style="width: 500px;margin-bottom: 15px;" placeholder="Rack Number" />
        <input type="text" class="border rounded-0 form-control" style="width: 500px;margin-bottom: 15px;" placeholder="Rack Location" />
        <input type="text" class="border rounded-0 form-control" style="width: 500px;margin-bottom: 15px;" placeholder="Price" />
        <button class="btn btn-primary" type="button" style="width: 500px;margin-right: 0px;margin-left: 0px;background-color: #00baff;">Save</button>
    </form>
</div>
</div>
{% endblock content %}



