{% extends '__base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<article>
    <h1>Welcome to diit library {{test}}</h1>

</article>

    {% for book in books %}

 
         <!--   <div class="card">
            <div class="image">
                    <img class="image_img" src="{{ book.cover.url}}">
                </div>
                <div class="content">
                        <div class="header">
                            <a href="#" target="_blank">{{book.title}}</a>
                        </div>
                </div>
            <div class="ui bottom attached button js-button btn btn-primary btn-sm">
                <i class="add icon"></i><span>Make reservation!</span>
            </div>
        </div> -->
        <div class="container">
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ book.cover.url}}" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{book.title}}</h5>
                    <p>{{book.author}}</p>
                    <p>{{book.publisher}}</p>
                
                  <p class="card-text">This is book details line .This is book details line .This is book details line .This is book details line .This is book details line .</p>
                 
                  <div class="ui bottom attached button js-button btn btn-primary btn-sm">
                    <i class="add icon"></i><span>Make reservation!</span>
                </div>
                </div>
              </div>
            </div>
          </div>

        </div>

    {% endfor %}

{% endblock content %}