{% extends '__base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<article>
    <h1>Welcome to diit library {{test}}</h1>

</article>

 <!--search form start --> 
        <form class="form-inline mt-2 mt-md-0" style="margin: 0px 0px 5px 15px;" action="{% url 'search_results' %}"
        method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search"
        aria-label="Search">
        </form>
 <!--search form end --> 

    {% for book in books %}
        <div class="container">
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ book.cover.url}}" class="card-img" alt="...">
              </div>
              <div class="col-sm-8">
                <div class="card-body">
                  <h2 class="card-title">{{book.title}}</h2>
                    <p>{{book.author}}</p>
                    <p>{{book.publisher}}</p>
                    <p>{{book.id}}</p>
                  <p class="card-text">This is book details line .This is book details line .This is book details line .This is book details line .This is book details line .</p>
                 
                  <div class="">
                    <button type="button" class="btn btn-secondary"><a href="{% url 'book_details' book.id %}">Book Details</a></button>

                </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      




    {% endfor %}

{% endblock content %}